/*
 * This is Treyzania's awesome style.  It has a simple "panel" system that is
 * designed to be 
 */

body {
	
	background-color: #cfc;
	
	font-family: sans-serif;
	
}

div.panel {
	
	background-color: rgba(30, 30, 30, 0.4);
	
	border: 3px solid #444;
	padding: 24px;
	border-radius: 12px;
	
	margin: 24px;
	
}

a {
	
	color: #fff;
	text-shadow: 1px 1px #000;
	
}

#content {
	
	margin: auto;
	margin-left: 20%;
	margin-right: 20%;
	
}

.code {
	font-family: monospace;
}
